/*** NAVBAR ***/
.nav-item{
    letter-spacing: .2em;
    font-size: 14 px;
    text-transform: uppercase;
}

.dropdown-item{
    letter-spacing: .2em;
    font-size: 14 px;
    text-transform: uppercase;
}
/*** FOOTER ***/
.my_footer p{
    padding-top: 20px;
    font-size: 14px;
}

.my_footer{
    background-color: #8ab8b8;
    height: 45px;
}

/*** CATEGORY PAGE ***/
.my_row_class{
    padding-top: 15px;
}

.my_row_class  .mx-auto{
    color: #000;
    font-size: 12px;
}

.my_image{
    width: 100%;
    height: auto;
}
.my_title{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.my_image_padding{
    padding: 5px;
}

.my_bottom_margin{
    margin-bottom: 10px;
}

.card-body h4{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.card_image{
    width: 350px; /* Set desired width */
    height: 150px; /* Set desired height */
    object-fit: cover; /* Ensures consistent sizing without distortion */
}

/*** PRODUCT PAGE ***/

.my_prod_row_class{
    padding-top:15px;
    padding-bottom: 20px;
}

.my_prod_row_class .mx-auto{
    color: #000;
    font-size:12px;
    text-decoration: none;
}

.my_prod_title{
    font-size:32px;
    text-transform:uppercase;
    letter-spacing:.2em;
    padding-top:15px;
    padding-bottom:10px;
}

.my_prod_text{
    padding-right:20px;
}

/*** SEARCH PAGE ***/

.my_search_text{
    padding-top:20px;
}

/*** CART PAGE ***/
.my_table{
    min-width:400px;
    font-size:14px;
}

.my_thead{
    font-weight:normal;
    font-transform:uppercase;
    letter-spacing:.2em;
    background-color:#f8f8f9 !important;
}

.custom_a{
    text-decoration:none;
}

.custom_icon{
    text-decoration:none;
    color:#868e96!important;
}

.my_button{
    margin-top:5px;
}
